<a href="https://colab.research.google.com/github/VitorPaes/Python/blob/master/Alura/Python/Curso%205%20-%20Collections%20Tuplas%20e%20Listas/Introducao_a_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)

39

In [3]:
idade = [39,30,27,18]

type(idade)

In [4]:
idade[0]

39

In [ ]:
idade.append(14)

In [6]:
idade.remove(30)

In [ ]:
idade.clear()

In [7]:
28 in idade

False

In [8]:
idade = [39,30,27,18]

In [11]:
idade.extend([1,2])

In [12]:
idade

[39, 30, 27, 18, 1, 2, 1, 2]

In [17]:
for idades in idade:
  print(idades + 1)

40
31
28
19
2
3
2
3

In [19]:
idade_ano_que_vem = []
for idades in idade:
  idade_ano_que_vem.append(idades+1)
idade_ano_que_vem

[40, 31, 28, 19, 2, 3, 2, 3]

#List comprehension

In [25]:
idade_ano_que_vem = [(idades+1) for idades in idade]
idade_ano_que_vem

[40, 31, 28, 19, 2, 3, 2, 3]

In [26]:
[idades for idades in idade if idades > 21]

[39, 30, 27]

In [28]:
def faz_processamnto_de_visu(lista):
  print(len(lista))

In [31]:
faz_processamnto_de_visu(idade)
idade

8

[39, 30, 27, 18, 1, 2, 1, 2]